*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans';
}

nav{
	position: sticky;
	top: 5px;
	width: 100%;
	display: inline-block;
	background-color: white;
}

.nav-logo{
	float: left;
	margin-left: 5rem;

}
.right-nav{
	float: right;
	margin-right: 5rem;

}

nav ul{
	width: 100%;
	/*margin: 10px;*/
	list-style-type: none;

}

nav ul li{
	display: inline-block;
	padding: 1px 5px;
}

.tuitt-button {
	background-color: #c2195b;
	color: white;
	padding: 0.75rem;
	border-radius: 25px;
	border-style: none;
}

#bg-image{
	max-height: 19rem;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

#bg-image .front-bg{
	background-color: rgba(0,0,0,0.5);
	min-height: 19rem;
}

.container{
	margin-top: 0.5rem;
	color: white;
	text-align: right;
	margin-right: 5rem;
}

.apply-button{
	background-color: #c2195b;
	color: white;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
	border-style: none;
	width: 11rem;

}
.title, .title-2{
	font-family: 'Zilla Slab';
}
.intro {
	text-align: center;
}
.intro-description {
	font-weight: lighter;
}

.title{
	font-size: 2.4rem;
	margin-bottom: 1rem;
}

.subtitle{
	font-size: 1.3rem;
	font-weight: lighter;
	padding-bottom: 1rem;
}


.pre-footer {
	text-align: center;
	background-color: #f7fbfb;
}

.title-2{
	margin-top: 2rem;
	padding: 3rem;
	font-weight: bold;
}

.prefooter-description {
	margin-bottom: 1rem;
	font-weight: lighter;
}

.book-button{
	background-color: #336589;
	color: white;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
	border-style: none;
	width: 11rem;
}

footer {
	padding: 1rem;
	text-align: center;
}